    <!-- Notified -->
       <section id="slider" class="slider">
           <figure></figure>
           <div class="container center text-center">
               <h2 class="special_font">Get stydents into your classes</h2>
               <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                   <p>
                       Learn how to build websites & apps, write code or start a business.
                       Learn to be the best at your work and class.
                   </p>
                   <form id="newsletter" class="formNewsletter nm" action="newsletter.php" method="post" accept-charset="utf-8" role="form">
                       <div class="input-group input-group-lg col-lg-7 col-sm-12">
                           <input type="email" class="form-control" placeholder="Your email address...." name="Email" value="" />
                       </div>
                       <div class="input-group input-group-lg col-lg-4 col-sm-12">
                           <input class="btn btn-large" type="submit" name="submit" value="Get Notified" id="submit"/>
                       </div>
                   </form>
               </div>
               <figure class="content_img col-sm-12 ">
                   <img src="img/chrome.png" alt="//">
               </figure>
           </div>
       </section>
       <!-- end Notified -->
       <!-- Features -->
          <section id="features" class="features generic">
              <div class="container text-center">
                  <div class="row">
                      <h2 class="special_font ">Every tool a teacher needs</h2>
                      <article class="item col-sm-3 ">
                          <a class="icon" href="#"><img class="icon-monitor" src="img/features-01.png" alt="//"></a>
                          <h2><a href="#">online classes</a></h2>
                          <p>Alias, porro, consequatur quas nostrum sed iure quos quia excepturi rerum libero odit maxime explicabo ducimus?</p>
                      </article>
                      <article class="item col-sm-3 ">
                          <a class="icon" href="#"><img class="icon-users" src="img/features-02.png" alt="//"></a>
                          <h2><a href="#">online classes</a></h2>
                          <p> rerum amet deserunt obcaecati ea accusamus veniam facere nisi et eaque praesentium nemo rem!</p>
                      </article>
                      <article class="item col-sm-3 ">
                          <a class="icon" href="#"><img class="icon-book-open" src="img/features-03.png" alt="//"></a>
                          <h2><a href="#">online classes</a></h2>
                          <p>luptatibus officia recusandae veritatis! Earum, architecto aliquam impedit laudantium provident rem accusantium odio at?</p>
                      </article>
                      <article class="item col-sm-3 ">
                          <a class="icon" href="#"><img class="icon-graduation-cap" src="img/features-04.png" alt="//"></a>
                          <h2><a href="#">online classes</a></h2>
                          <p>laudantium quisquam inventore? Facilis, ipsum, velit amet sed nulla harum aut veniam iste.</p>
                      </article>
                  </div>
              </div>
          </section>
          <!-- end Features -->
          <!--svg-->
    <svg preserveAspectRatio="none" viewBox="0 0 100 100" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" id="curveUpColor">
        <path d="M0 100 C 20 0 50 0 100 100 Z"/>
    </svg>
    <!--svg-->
    <!-- Video -->
    <section id="video" class="video generic">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                    <h2 class="special_font">All our video training</h2>
                    <p>Dynado is a unique product which not only provides all the tools you need to run your business, but integrates them in unprecedented ways.</p>

                    <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
                        <ol class="carousel-indicators">
                            <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
                            <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
                            <li data-slide-to="2" data-target="#carousel-example-generic" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <div class="vendor">
                                    <iframe src="http://player.vimeo.com/video/67741947?title=0&amp;byline=0&amp;portrait=0" width="570" height="350"></iframe>
                                </div>
                            </div>
                            <div class="item">
                                <div class="vendor">
                                    <iframe src="http://player.vimeo.com/video/86152286?title=0&amp;byline=0&amp;portrait=0" width="570" height="350" ></iframe>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="vendor">
                                    <iframe src="http://player.vimeo.com/video/81795476?title=0&amp;byline=0&amp;portrait=0" width="570" height="350" ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Video -->
    <!-- Teachers -->
    <section id="teachers" class="teachers generic">
        <div class="container text-center">
            <div class="row">
                <h2 class="special_font ">Meet the Teachers</h2>
                <p class="sub-title ">Morbi dignissim non dolor non placerat. Ut sit amet lectus at neque quis vel imperdiet ullamcorper auctor.</p>

                <article class="col-lg-3 col-sm-6 ">
                    <div class="item">
                        <div class="zoom">
                            <!-- Button to trigger modal -->
                            <a href="#" class="box" data-toggle="modal" data-target="#teacher01">
                                <i class="icon-plus-circle"></i>
                            </a>
                            <!-- Button to trigger modal -->
                        </div>
                        <img src="img/teachers/teacher-01.jpg" alt="test">
                    </div>
                    <div class="info">
                        <h2><a href="#" data-toggle="modal" data-target="#teacher01">Peter Smithson</a></h2>
                        <p>Lorem ipsum dolor sit amet, modi eveniet fugiat quis minus.</p>
                    </div>
                </article>

                <article class="col-lg-3 col-sm-6 ">
                    <div class="item">
                        <div class="zoom">
                            <!-- Button to trigger modal -->
                            <a href="#" class="box" data-toggle="modal" data-target="#teacher02">
                                <i class="icon-plus-circle"></i>
                            </a>
                            <!-- Button to trigger modal -->
                        </div>
                        <img src="img/teachers/teacher-02.jpg" alt="test">
                    </div>
                    <div class="info">
                        <h2><a href="#" data-toggle="modal" data-target="#teacher02">Barbara Brown</a></h2>
                        <p>Lorem ipsum dolor sit amet, modi eveniet fugiat quis minus.</p>
                    </div>
                </article>

                <article class="col-lg-3 col-sm-6 ">
                    <div class="item">
                        <div class="zoom">
                            <!-- Button to trigger modal -->
                            <a href="#" class="box" data-toggle="modal" data-target="#teacher03">
                                <i class="icon-plus-circle"></i>
                            </a>
                            <!-- Button to trigger modal -->
                        </div>
                        <img src="img/teachers/teacher-03.jpg" alt="test">
                    </div>
                    <div class="info">
                        <h2><a href="#" data-toggle="modal" data-target="#teacher03">Edward Moore</a></h2>
                        <p>Lorem ipsum dolor sit amet, modi eveniet fugiat quis minus.</p>
                    </div>
                </article>

                <article class="col-lg-3 col-sm-6 ">
                    <div class="item">
                        <div class="zoom">
                            <!-- Button to trigger modal -->
                            <a href="#" class="box" data-toggle="modal" data-target="#teacher04">
                                <i class="icon-plus-circle"></i>
                            </a>
                            <!-- Button to trigger modal -->
                        </div>
                        <img src="img/teachers/teacher-04.jpg" alt="test">
                    </div>
                    <div class="info">
                        <h2><a href="#" data-toggle="modal" data-target="#teacher04">Janna Jackson</a></h2>
                        <p>Lorem ipsum dolor sit amet, modi eveniet fugiat quis minus.</p>
                    </div>
                </article>

            </div>
        </div>
    </section>
    <!-- end Teachers -->


    <!-- Prices -->
    <section id="prices" class="prices generic">
        <div class="container text-center">
            <div class="row">
                <h2 class="special_font">Select your Price</h2>
                <p class="sub-title">Morbi dignissim non dolor non placerat.
                   Ut sit amet lectus at neque quis vel imperdiet ullamcorper auctor.
                </p>

                <article class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="header">
                            <h2>basic course</h2>
                        </div>
                        <h4 class="price"><span>$</span>19,<sup>00</sup></h4>
                        <ul class="list-unstyled">
                            <li>Provident accusantium </li>
                            <li>Excepturi rerum libero </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Provident accusantium </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li class="last"><a href="#" class="btn btn-large"><i class="icon-basket"></i> Buy Now</a></li>
                        </ul>
                    </div>
                </article>

                <article class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="header">
                            <h2>Marketing courses</h2>
                        </div>
                        <h4 class="price"><span>$</span>29,<sup>00</sup></h4>
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit </li>
                            <li>Excepturi rerum libero</li>
                            <li>Provident accusantium  </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Provident accusantium </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li class="last"><a href="#" class="btn btn-large"><i class="icon-basket"></i> Buy Now</a></li>
                        </ul>
                    </div>
                </article>

                <article class="col-lg-3 col-sm-6 ">
                    <div class="item">
                        <div class="header">
                            <h2>mathematic course</h2>
                        </div>
                        <h4 class="price"><span>$</span>39,<sup>00</sup></h4>
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit </li>
                            <li>Provident accusantium </li>
                            <li>Excepturi rerum libero </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Excepturi rerum libero </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Provident accusantium </li>
                            <li class="last"><a href="#" class="btn btn-large"><i class="icon-basket"></i> Buy Now</a></li>
                        </ul>
                    </div>
                </article>

                <article class="col-lg-3 col-sm-6 ">
                    <div class="item">
                        <div class="header">
                            <h2>chemical course</h2>
                        </div>
                        <h4 class="price"><span>$</span>69,<sup>00</sup></h4>
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>Lorem ipsum dolor sit </li>
                            <li class="last"><a href="#" class="btn btn-large"><i class="icon-basket"></i> Buy Now</a></li>
                        </ul>
                    </div>
                </article>

            </div>
        </div>
    </section>
    <!-- end Prices -->


    <!-- Twitter -->
    <section id="twitter" class="twitter generic">
        <figure></figure>
            <div class="container text-center">
            <div class="row">
                <h2 class="special_font ">Follow us on Twitter</h2>
                <i class="icon-twitter-1"></i>
                <article class="item col-sm-12 ">
                    <h3 class="username" ></h3>
                    <p class="tweet twitterfeed"></p>
                </article>
            </div>
        </div>
    </section>
    <!-- end Twitter -->


    <!-- Information -->
    <section id="information" class="information generic">
        <div class="container text-center">
            <div class="row">
                <h2 class="special_font ">Important information</h2>
                <p class="sub-title ">
                    Morbi dignissim non dolor non placerat. Ut sit amet lectus at neque quis vel imperdiet.
                </p>

                <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    <a class="icon col-sm-12 col-lg-5" href="#"><img class="icon-monitor" src="img/homepage-collaborate.png" alt="//"></a>
                    <div class="col-sm-12 col-lg-7 info_text">
                        <h2>Collaborate with Your Team & Clients</h2>
                        <h3>Eliminates email hell and puts everything in one place</h3>
                        <p>
                            Using Teamwork.com, your team will know what they have to do, when it must be done and who needs to do it.
                            They'll know exactly where to look to find and store everything they need. And so will your clients.
                            Whether it's the head office or your latest lead, your clients can keep up to date with what's
                            going on without having to bug you; something you'll both feel better about. And it's not just stuck
                            in your computer either : using our beautiful Android, iPhone and iPad apps, your team can do the work where
                            they need to be, doesn't matter if that's in a workshop, a meeting room or sitting at their desk. Once you try
                            Teamwork.com, you won't know how you ever managed without it.
                        </p>
                        <button class="btn btn-large" type="button">Read More</button>
                    </div>
                </article>

                <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    <a class="icon col-sm-12 col-lg-5" href="#"><img class="icon-monitor" src="img/homepage-getorganized.png" alt="//"></a>
                    <div class="col-sm-12 col-lg-7 info_text">
                        <h2>Collaborate with Your Team & Clients</h2>
                        <h3>Eliminates email hell and puts everything in one place</h3>
                        <p>
                            Using Teamwork.com, your team will know what they have to do, when it must be done and who needs to do it.
                            They'll know exactly where to look to find and store everything they need. And so will your clients.
                            Whether it's the head office or your latest lead, your clients can keep up to date with what's
                            going on without having to bug you; something you'll both feel better about. And it's not just stuck
                            in your computer either : using our beautiful Android, iPhone and iPad apps, your team can do the work where
                            they need to be, doesn't matter if that's in a workshop, a meeting room or sitting at their desk. Once you try
                            Teamwork.com, you won't know how you ever managed without it.
                        </p>
                        <button class="btn btn-large" type="button">Read More</button>
                    </div>
                </article>

            </div>
        </div>
    </section>
    <!-- end Information -->





    <!--scroll up -->
    <a href="#" id="scroll_up"><i class="icon-up-open"></i></a>



    <!-- Modal Classes 01 -->
    <div class="modal fade" id="class01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Mathematics</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 01 -->

    <!-- Modal Classes 02 -->
    <div class="modal fade" id="class02" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Marketing & Sales</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 02 -->

    <!-- Modal Classes 03 -->
    <div class="modal fade" id="class03" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Web & UI Design</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 03 -->

    <!-- Modal Classes 04 -->
    <div class="modal fade" id="class04" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Science Research</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 04 -->

    <!-- Modal Teacher 01 -->
    <div class="modal fade" id="teacher01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Peter Smithson</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-01.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 01 -->

    <!-- Modal Teacher 02 -->
    <div class="modal fade" id="teacher02" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Barbara Brown</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-02.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 02 -->

    <!-- Modal Teacher 03 -->
    <div class="modal fade" id="teacher03" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edward Moore</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-03.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 03 -->

    <!-- Modal Teacher 04 -->
    <div class="modal fade" id="teacher04" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Janna Jackson</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-04.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 04 -->

    <!-- Modal Contact -->
    <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">
					<form role="form" id="request" action="request-form.php" method="post" accept-charset="utf-8">
						<div class="form-group">
						  <label class="no">Name</label>
						  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="name"/>
						</div>
						<div class="form-group">
						  <label class="no">Email</label>
						  <input type="email" class="form-control" placeholder="Email" name="email"/>
						</div>
						<div class="form-group">
						  <label class="no">Subject</label>
						  <input type="text" class="form-control" placeholder="Subject" name="subject">
						</div>
						<div class="form-group">
						<textarea class="form-control" rows="3" placeholder="Add your text here" name="textmessage"></textarea>
						</div>
						<button type="submit" class="btn btn-default">Send it</button>
					</form>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Contact -->
