    <!-- Notified -->
       <section id="slider" class="slider">
           <figure></figure>
           <div class="container center text-center">
               <h2 class="special_font">Selamat Datang di Temanis Baru</h2>
               <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                   <p>
                       Pelajari cara mendaftar di sekolah kami.
                   </p>
                   <form id="newsletter" class="formNewsletter nm" action="newsletter.php" method="post" accept-charset="utf-8" role="form">
                       
                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 215px;">
                        <ul class="nav navbar-nav navbar-right" style="margin-left: 0px;">
                            <% if(!session.authenticated) { %>
                           <a class="nav-button" data-src="features" href="#features">
                                <button class="btn btn-large" type="button">Klik disini</button>
                            </a>
                           <% } %>
                        </ul>
                       </div>
                   </form>
               </div>
               <figure class="content_img col-sm-12 " style="margin-top: 10px;">
                   <img src="/img/chrome.png" alt="//">
               </figure>
           </div>
       </section>
       <!-- end Notified -->
       <!-- Features -->
          <section id="features" class="features generic">
              <div class="container text-center">
                    <h2 class="special_font ">Ikuti langkah-langkah di bawah ini.</h2>
                  <div class="row" style="padding-left: 160px;">
                      
                      <article class="item col-sm-3 " style="margin-top: 50px; margin-right: 15px; margin-left: 15px;">
                          <img class="icon-monitor" src="/img/features-02.png" alt="//" width="64px" height="64px">
                          <h2>Daftar</h2>
                          <p>Pertama, <a class="external" href="/register">daftar</a> dengan menggunakan email dan password kamu.</p>
                      </article>
                      <article class="item col-sm-3 " style="margin-top: 50px; margin-right: 15px; margin-left: 15px;">
                          <img class="icon-users" src="/img/features-03.png" alt="//" width="64px" height="64px">
                          <h2>Isi profil dan pilih tingkatan</h2>
                          <p>Kedua, isi profil tentang dirimu, pilih tingkatan pendidikan yang ingin kamu ambil dan terakhir unggah dokumen-dokumen yang dibutuhkan.</p>
                      </article>
                      <article class="item col-sm-3 " style="margin-top: 50px; margin-right: 15px; margin-left: 15px;">
                          <img class="icon-book-open" src="/img/features-04.png" alt="//" width="64px" height="64px">
                          <h2>Ujian Saringan Masuk</h2>
                          <p>Terakhir, tunggu tanggal ujian saringan masuk (USM) kamu dan setelah mengikuti USM, kamu akan mendapatkan hasil apakah kamu lulus atau tidak.</p>
                      </article>
                      
                  </div>
              </div>
          </section>
          <!-- end Features -->
          <!--svg-->
    <svg preserveAspectRatio="none" viewBox="0 0 100 100" height="180" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" id="curveUpColor">
        <path d="M0 100 C 20 0 50 0 100 100 Z"/>
    </svg>
    <!--svg-->
    
    <!-- Information -->
    <section id="information" class="information generic">
        <div class="container text-center">
            <div class="row">
                <h2 class="special_font ">Tentang Sekolah Kami</h2>
                <!-- <p class="sub-title ">
                    Morbi dignissim non dolor non placerat. Ut sit amet lectus at neque quis vel imperdiet.
                </p> -->

                <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    <a class="icon col-sm-12 col-lg-5" href="#"><img class="icon-monitor" src="/img/a.png" alt="//"></a>
                    <div class="col-sm-12 col-lg-7 info_text">
                        <h2>Temanis Baru School</h2>
                        <h3>Didirikan pada tahun 1995.</h3>
                        <p>
                            Using Teamwork.com, your team will know what they have to do, when it must be done and who needs to do it.
                            They'll know exactly where to look to find and store everything they need. And so will your clients.
                            Whether it's the head office or your latest lead, your clients can keep up to date with what's
                            going on without having to bug you; something you'll both feel better about. And it's not just stuck
                            in your computer either : using our beautiful Android, iPhone and iPad apps, your team can do the work where
                            they need to be, doesn't matter if that's in a workshop, a meeting room or sitting at their desk. Once you try
                            Teamwork.com, you won't know how you ever managed without it.
                            <br>
                            <br>
                            Fasilitas: Lapangan Bola, Lapangan Basket, Lapangan Badminton, Kolam Renang, Laboratorium, Kantin, & Perpustakaan.
                        </p>
                        <p>

                        </p>
                        <!-- <button class="btn btn-large" type="button">Read More</button> -->
                    </div>
                </article>

                <!-- <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    <a class="icon col-sm-12 col-lg-5" href="#"><img class="icon-monitor" src="img/homepage-getorganized.png" alt="//"></a>
                    <div class="col-sm-12 col-lg-7 info_text">
                        <h2>Collaborate with Your Team & Clients</h2>
                        <h3>Eliminates email hell and puts everything in one place</h3>
                        <p>
                            Using Teamwork.com, your team will know what they have to do, when it must be done and who needs to do it.
                            They'll know exactly where to look to find and store everything they need. And so will your clients.
                            Whether it's the head office or your latest lead, your clients can keep up to date with what's
                            going on without having to bug you; something you'll both feel better about. And it's not just stuck
                            in your computer either : using our beautiful Android, iPhone and iPad apps, your team can do the work where
                            they need to be, doesn't matter if that's in a workshop, a meeting room or sitting at their desk. Once you try
                            Teamwork.com, you won't know how you ever managed without it.
                        </p>
                        <button class="btn btn-large" type="button">Read More</button>
                    </div>
                </article>
 -->
            </div>
        </div>
    </section>
    <!-- end Information -->





    <!--scroll up -->
    <a href="#" id="scroll_up" style="background-color: #2d3e52; color: white; padding-top: 8px;"><span style="font-size: 50px;">^</span>
    </a>



    <!-- Modal Classes 01 -->
    <div class="modal fade" id="class01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Mathematics</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 01 -->

    <!-- Modal Classes 02 -->
    <div class="modal fade" id="class02" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Marketing & Sales</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 02 -->

    <!-- Modal Classes 03 -->
    <div class="modal fade" id="class03" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Web & UI Design</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 03 -->

    <!-- Modal Classes 04 -->
    <div class="modal fade" id="class04" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Science Research</h4>
                </div>
                <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Classes 04 -->

    <!-- Modal Teacher 01 -->
    <div class="modal fade" id="teacher01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Peter Smithson</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-01.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 01 -->

    <!-- Modal Teacher 02 -->
    <div class="modal fade" id="teacher02" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Barbara Brown</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-02.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 02 -->

    <!-- Modal Teacher 03 -->
    <div class="modal fade" id="teacher03" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edward Moore</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-03.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 03 -->

    <!-- Modal Teacher 04 -->
    <div class="modal fade" id="teacher04" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Janna Jackson</h4>
                </div>
                <div class="modal-body">
                <figure>
                    <img src="img/teachers/teacher-04.jpg" alt="teacher image">
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptas, aliquam laudantium inventore numquam a quam ea distinctio blanditiis minus unde quos magnam cupiditate! Perspiciatis, nesciunt quae ratione in ipsa!</p>
                <p>Follow me on:
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Teacher 04 -->

    <!-- Modal Contact -->
    <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">
					<form role="form" id="request" action="request-form.php" method="post" accept-charset="utf-8">
						<div class="form-group">
						  <label class="no">Name</label>
						  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="name"/>
						</div>
						<div class="form-group">
						  <label class="no">Email</label>
						  <input type="email" class="form-control" placeholder="Email" name="email"/>
						</div>
						<div class="form-group">
						  <label class="no">Subject</label>
						  <input type="text" class="form-control" placeholder="Subject" name="subject">
						</div>
						<div class="form-group">
						<textarea class="form-control" rows="3" placeholder="Add your text here" name="textmessage"></textarea>
						</div>
						<button type="submit" class="btn btn-default">Send it</button>
					</form>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal Contact -->
