<ion-view>
  <ion-content class="padding latar">
    <h2 align="center" class="tebal positive">Selamat Datang</h2>
    <h3 align="center" ng-if="user.name">{{user.name}}</h3>
    <br>
    <h4 align="center">Sekarang anda bisa mendaftarkan diri di sekolah ini.</h4>
    <br>
    <h4 align="center">Tanggal Pendaftaran : {{stropendate}} s/d {{strclosedate}}</h4>
    <br>
    <h4 align="center">
     Tanggal Ujian Saringan Masuk:
     <br>06 Agustus 2016 - 20 Agustus 2016 - 03 September 2016 - 17 September 2016
     <br>01 Oktober 2016 - 15 Oktober 2016 - 29 Oktober 2016 - 12 November 2016
    </h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button ng-click="logout()" class="button button-block button-outline button-assertive" >Logout</button>
    <br><br>
  </ion-content>
</ion-view>
