<div class="container">
  <h2 class="special_font" align="center">Open/Close Registration</h2>
    <div class="row">
      <div class="col-sm-12 col-lg-7 info_text" style="width: 1140px;">
        <div class="form-group">
        
                    <h3 align="center">Open Registration Date:</h3>
                    <input type="text" id="datepicker" name="opendate" required="required" class="form-control" placeholder="" style="width: 30%; align: center;text-align: center; "></div>
        
                    <h3 align="center">Close Registration Date:</h3>
                    <input type="text" id="datepicker" name="datebirth" required="required" class="form-control" placeholder=""></div>
                        
                    <button class="btn btn-large" type="button" style="margin-top: 0px; text-align: center; position: relative; left: 44.5%;">Set Date</button>
        </div>
      </div>
    </div>
    <br><br><br>
</div>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$('#datepicker').each(function(){
  $(this).datepicker();
});
</script>

