<div class="container">
  <h2 class="special_font" align="center">Set Test Date</h2>
    <div class="row">
      <form action="testadmin_submit" method="post" accept-charset="utf-8">
        <div class="col-sm-12 col-lg-7 info_text" style="width: 1140px;">
          <div class="form-group">
          
                      <h3 align="center">Set Test Date:</h3>
                      <input type="text" id="datepicker" name="testdate" required="required" class="form-control" placeholder="" style="width: 30%; align: center;text-align: center; "></div>
          
                      <button class="btn btn-large" id="send" type="submit" style="margin-top: 0px; text-align: center; position: relative; left: 44.5%;">Set Date</button>
          </div>
        </div>
      </form>
    </div>
    <br><br><br>
</div>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$('#datepicker').each(function(){
  $(this).datepicker();
});
</script>

