    <!-- Notified -->
       
       <!-- end Notified -->
       <!-- Features -->
          
          <!-- end Features -->
          <!--svg-->
    
    <!--svg-->
    
    <!-- Information -->
    <section id="information" class="information generic" style="margin-bottom: 0px;">
        <div class="container text-center">
            <div class="row">
                <h2 class="special_font ">Testing</h2>
                <!-- <p class="sub-title ">
                    Morbi dignissim non dolor non placerat. Ut sit amet lectus at neque quis vel imperdiet.
                </p> -->

                <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    
                    <div class="col-sm-12 col-lg-7 info_text" style="width: 1140px;">
                        <h3 align="center">Your testing date:</h3>
                        <% if (user.testdate != null) { %>
                            <h2 align="center">
                                <% if (user.testdate.getDay() == 1) { %>
                                    Senin, 
                                <% } else if (user.testdate.getDay() == 2) { %>
                                    Selasa, 
                                <% } else if (user.testdate.getDay() == 3) { %>
                                    Rabu, 
                                <% } else if (user.testdate.getDay() == 4) { %>
                                    Kamis, 
                                <% } else if (user.testdate.getDay() == 5) { %>
                                    Jumat, 
                                <% } else if (user.testdate.getDay() == 6) { %>
                                    Sabtu, 
                                <% } %>
                                <%=user.testdate.getDate()%> 
                                <% if (user.testdate.getMonth() == 0) { %>
                                    Januari 
                                <% } else if (user.testdate.getMonth() == 1) { %>
                                    Februari 
                                <% } else if (user.testdate.getMonth() == 2) { %>
                                    Maret 
                                <% } else if (user.testdate.getMonth() == 3) { %>
                                    April 
                                <% } else if (user.testdate.getMonth() == 4) { %>
                                    Mei 
                                <% } else if (user.testdate.getMonth() == 5) { %>
                                    Juni 
                                <% } else if (user.testdate.getMonth() == 6) { %>
                                    Juli 
                                <% } else if (user.testdate.getMonth() == 7) { %>
                                    Agustus 
                                <% } else if (user.testdate.getMonth() == 8) { %>
                                    September 
                                <% } else if (user.testdate.getMonth() == 9) { %>
                                    Oktober 
                                <% } else if (user.testdate.getMonth() == 10) { %>
                                    November 
                                <% } else if (user.testdate.getMonth() == 11) { %>
                                    Desember 
                                <% } %> 
                                <%=user.testdate.getFullYear()%>    
                            </h2>
                        <% } else { %>
                            <h2 align="center">-</h2>
                        <% } %>
                        <h3 align="center">Print your testing card</h3>
                        <button class="btn btn-large" type="button" style="margin-top: 0px; text-align: center; position: relative; left: 44.5%;">Click here</button>
                        <p align="center">
    					
                        <br>
                        Things that you need to prepare:
                        <br>- Pencils & Pens
                        <br>- Eraser
                        <br>- Testing Card
                        </p>

                        <hr style="border:1px solid black;">
    					<h2 class="text-center">Status : <span id="status">
                        <% if(user.status==0) { %>
                          Pending
                        <% } else if(user.status==1) { %>
                          Verified
                        <% } else if(user.status==2) { %>
                           Denied
                        <% } else if(user.status==3) { %>
                           Passed
                        <% } else if(user.status==4) { %>
                           Failed
                        <% } %>
                        </span>
                        </h2>
                        <h2 class="text-center">Remarks : <span id="remarks">
                        <% if(typeof (user.verifyremarks) != "undefined") { %>
                          <label value="<%=user.verifyremarks%>"></label>
                        <% } %>
                        </span>
                        </h2>
                    </div>
                </article>

                <!-- <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    <a class="icon col-sm-12 col-lg-5" href="#"><img class="icon-monitor" src="img/homepage-getorganized.png" alt="//"></a>
                    <div class="col-sm-12 col-lg-7 info_text">
                        <h2>Collaborate with Your Team & Clients</h2>
                        <h3>Eliminates email hell and puts everything in one place</h3>
                        <p>
                            Using Teamwork.com, your team will know what they have to do, when it must be done and who needs to do it.
                            They'll know exactly where to look to find and store everything they need. And so will your clients.
                            Whether it's the head office or your latest lead, your clients can keep up to date with what's
                            going on without having to bug you; something you'll both feel better about. And it's not just stuck
                            in your computer either : using our beautiful Android, iPhone and iPad apps, your team can do the work where
                            they need to be, doesn't matter if that's in a workshop, a meeting room or sitting at their desk. Once you try
                            Teamwork.com, you won't know how you ever managed without it.
                        </p>
                        <button class="btn btn-large" type="button">Read More</button>
                    </div>
                </article>
 -->
            </div>
        </div>
    </section>
    <!-- end Information -->








   