       <section id="slider" class="slider" style="min-height:200px;">
           <figure style="height:229px;"></figure>
           <div class="container center text-center">
               <h1 style="color: white; font-size: 4em; line-height: 1em;">Halaman Admin Temanis Baru</h1>
               <p>Tanggal Pendaftaran: 
                    <%=user.opendate.getDate()%> 
                    <% if (user.opendate.getMonth() == 0) { %>
                        Januari 
                    <% } else if (user.opendate.getMonth() == 1) { %>
                        Februari 
                    <% } else if (user.opendate.getMonth() == 2) { %>
                        Maret 
                    <% } else if (user.opendate.getMonth() == 3) { %>
                        April 
                    <% } else if (user.opendate.getMonth() == 4) { %>
                        Mei 
                    <% } else if (user.opendate.getMonth() == 5) { %>
                        Juni 
                    <% } else if (user.opendate.getMonth() == 6) { %>
                        Juli 
                    <% } else if (user.opendate.getMonth() == 7) { %>
                        Agustus 
                    <% } else if (user.opendate.getMonth() == 8) { %>
                        September 
                    <% } else if (user.opendate.getMonth() == 9) { %>
                        Oktober 
                    <% } else if (user.opendate.getMonth() == 10) { %>
                        November 
                    <% } else if (user.opendate.getMonth() == 11) { %>
                        Desember 
                    <% } %> 
                    <%=user.opendate.getFullYear()%>
                    s/d
                    <%=user.closedate.getDate()%> 
                    <% if (user.closedate.getMonth() == 0) { %>
                        Januari 
                    <% } else if (user.closedate.getMonth() == 1) { %>
                        Februari 
                    <% } else if (user.closedate.getMonth() == 2) { %>
                        Maret 
                    <% } else if (user.closedate.getMonth() == 3) { %>
                        April 
                    <% } else if (user.closedate.getMonth() == 4) { %>
                        Mei 
                    <% } else if (user.closedate.getMonth() == 5) { %>
                        Juni 
                    <% } else if (user.closedate.getMonth() == 6) { %>
                        Juli 
                    <% } else if (user.closedate.getMonth() == 7) { %>
                        Agustus 
                    <% } else if (user.closedate.getMonth() == 8) { %>
                        September 
                    <% } else if (user.closedate.getMonth() == 9) { %>
                        Oktober 
                    <% } else if (user.closedate.getMonth() == 10) { %>
                        November 
                    <% } else if (user.closedate.getMonth() == 11) { %>
                        Desember 
                    <% } %> 
                    <%=user.closedate.getFullYear()%>
                   </p>
                   <p>
                     Tanggal Ujian Saringan Masuk:
                     <br>06 Agustus 2016 - 20 Agustus 2016 - 03 September 2016 - 17 September 2016
                     <br>01 Oktober 2016 - 15 Oktober 2016 - 29 Oktober 2016 - 12 November 2016
                   <p>
               <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                   
                   
                   <form id="newsletter" class="formNewsletter nm" action="newsletter.php" method="post" accept-charset="utf-8" role="form">
                       
                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 215px;">
                        <ul class="nav navbar-nav navbar-right" style="margin-left: 0px;">
                            <% if(!session.authenticated) { %>
                           <a class="nav-button" data-src="features" href="#features">
                                <button class="btn btn-large" type="button">Tell Me How</button>
                            </a>
                           <% } %>
                        </ul>
                       </div>
                   </form>
               </div>
           </div>
       </section>

    <section id="information" class="information generic">
        <div class="container text-center">
            <div class="row">
                <h1 style=" font-size: 4em; line-height: 1em;">Tentang Sekolah Kami</h1>

                <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    <a class="icon col-sm-12 col-lg-5" href="#"><img class="icon-monitor" src="/img/a.png" alt="//"></a>
                    <div class="col-sm-12 col-lg-7 info_text">
                        <h2>Temanis Baru School</h2>
                        <h3>Didirikan pada tahun 1995.</h3>
                        <p align="justify">
                            Temanis Baru School merupakan sebuah sekolah yang didirikan oleh Yayasan Temanis Baru Foundation.
                            Sekolah ini didirikan atas ide Bapak Prof. Dr. Jastian Leonardo yang melihat begitu banyak anak-anak yang putus sekolah karena biaya pendidikan yang terlalu mahal. Sekolah ini berniat menerima siapapun murid yang memiliki
                            niat belajar yang tinggi dan akan memberikan beasiswa bagi murid yang berprestasi.
                            
                            <br>
                            <br>
                            Fasilitas: Lapangan Bola, Lapangan Basket, Lapangan Badminton, Kolam Renang, Laboratorium, Kantin, & Perpustakaan.
                        </p>
                        <p>

                        </p>
                    </div>
                </article>

            </div>
        </div>
    </section>