

	<ion-nav-bar align-title="center" class="bar-positive">
      <ion-nav-title>
          <img src="img/logotemanis.png" height="18px" align="center">
      </ion-nav-title>
	</ion-nav-bar>
<ion-view view-title="Temanis Baru" class="bar-positive">	
	<ion-content>
	<br>
	<br>
	<form ng-submit="login(data)" novalidate="">
		<div class="list list-inset">
			<label class="item item-input">
				
				<input type="text" name="email" ng-model="data.email" placeholder="Email">
			</label>
			<label class="item item-input">
				
				<input type="password" name="password" ng-model="data.password" placeholder="Password">
			</label>
			<button type="submit" class="button button-block button-assertive" >Masuk</button>
		</div>
	</form>
	</ion-content>
</ion-view>