<ion-view view-title="Temanis Baru">
<ion-nav-bar align-title="center" class="bar-positive">
      <ion-nav-title>
          <img src="img/logotemanis.png" height="18px" align="center">
      </ion-nav-title>
  </ion-nav-bar>
    <ion-nav-title>
          <img src="img/logotemanis.png" height="20px" align="center">
    </ion-nav-title>
  <ion-content class="padding latar">
    <h2 align="center" class="selamatdtg">Nomor Registrasi Anda : {{user.id}}</h2>
    <h2 align="center" class="selamatdtg">Tanggal USM Anda : </h2>
    <h4 align="center">{{usm}}</h4>
  </ion-content>
</ion-view>
