
<ion-view ng-controller="AppCtrl">

  <ion-content class="padding latar">
    <h2 align="center" class="tebal positive">Pendaftaran</h2>
    <h4 align="center">{{message}}</h4>
    <br>
    <div ng-if="show==true">
      <h4 align="center">Silahkan mengisi form pendaftaran dengan memilih topik di bawah ini</h4>
      <br> 
      <button class="button button-block button-outline button-assertive" ng-click="openModal(1)">Profil</button>
      <button class="button button-block button-outline button-assertive" ng-click="openModal(2)">Tingkatan</button>
      <button class="button button-block button-outline button-assertive" ng-click="openModal(3)">Dokumen</button>
      <br>
      <h4 align="center" class="tebal assertive">Status:</h4>
      <h4 align="center">{{user.status}}<h4>
      <h4 align="center" class="tebal assertive">Remarks:</h4>
      <h4 align="center">{{user.remarks}}<h4>
    </div>
  </ion-content>
</ion-view>

<script id="templates/modal_profil.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title" ><img src="img/logotemanis.png" height="18px" align="center"></h1>
      <button class="button button-icon ion-close button-primary" ng-click="closeModal(1)"></button>
    </ion-header-bar>
    <ion-content class="padding">
    <h2 align="center" class="tebal positive">Profil</h2>
    <p align="center">Silahkan isi profil Anda di bawah ini.</p>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">No. Registrasi</span>
          <input type="text" name="noreg" ng-model="user.id" placeholder="No. Registrasi" ng-disabled="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Nama Lengkap</span>
          <input type="text" name="name" ng-model="user.name" placeholder="Nama Lengkap">
        </label>
        <label class="item item-input">
          <span class="input-label">Alamat</span>
          <input type="text" name="address" ng-model="user.address" placeholder="Alamat">
        </label>
        <label class="item item-input">
          <span class="input-label">Tempat Lahir</span>
          <input type="text" name="tmptlahir" ng-model="user.placebirth" placeholder="Tempat Lahir">
        </label>
        <label class="item item-input">
          <span class="input-label">Tanggal Lahir</span>
          <input type="date" name="tgllahir" ng-model="tgllahir" placeholder="Tanggal Lahir">
        </label>
        <label class="item item-input">
          <span class="input-label">Jenis Kelamin</span>
          <select ng-model="user.gender">
            <option value="m">Laki-laki</option>
            <option value="f">Perempuan</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" name="email" ng-model="user.email" placeholder="Email" ng-disabled="true">
        </label>
        <label class="item item-input">
          <span class="input-label">No. Telepon</span>
          <input type="text" name="notelp" ng-model="user.phone" placeholder="No. Telepon">
        </label>
        <label class="item item-input">
          <span class="input-label">No. Handphone</span>
          <input type="text" name="nohp" ng-model="user.handphone" placeholder="No. Handphone">
        </label>
        <label class="item item-input">
          <span class="input-label">Nama Ayah</span>
          <input type="text" name="namaayah" ng-model="user.fathername" placeholder="Nama Ayah">
        </label>
        <label class="item item-input">
          <span class="input-label">Pekerjaan Ayah</span>
          <input type="text" name="pekayah" ng-model="user.fatheroccupation" placeholder="Pekerjaan Ayah">
        </label>
        <label class="item item-input">
          <span class="input-label">Penghasilan Ayah</span>
          <input type="text" name="penghayah" ng-model="user.fathersalary" placeholder="Penghasilan Ayah">
        </label>
        <label class="item item-input">
          <span class="input-label">No. Telepon Ayah</span>
          <input type="text" name="notelpayah" ng-model="user.fatherphone" placeholder="No. Telepon Ayah">
        </label>
        <label class="item item-input">
          <span class="input-label">Nama Ibu</span>
          <input type="text" name="namaibu" ng-model="user.mothername" placeholder="Nama Ibu">
        </label>
        <label class="item item-input">
          <span class="input-label">Pekerjaan Ibu</span>
          <input type="text" name="pekibu" ng-model="user.motheroccupation" placeholder="Pekerjaan Ibu">
        </label>
        <label class="item item-input">
          <span class="input-label">Penghasilan Ibu</span>
          <input type="text" name="penghibu" ng-model="user.mothersalary" placeholder="Penghasilan Ibu">
        </label>
        <label class="item item-input">
          <span class="input-label">No. Telepon Ibu</span>
          <input type="text" name="notelpibu" ng-model="user.motherphone" placeholder="No. Telepon Ibu">
        </label>
        <label class="item item-input">
          <span class="input-label">Jumlah Saudara</span>
          <input type="text" name="jlhsaudara" ng-model="user.numbersiblings" placeholder="Jumlah Saudara">
        </label>
        <button class="button button-block button-assertive" ng-click="send(user, tgllahir)">Kirim</button>
      </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="templates/modal_tingkatan.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title" ><img src="img/logotemanis.png" height="18px" align="center"></h1>
      <button class="button button-icon ion-close button-primary" ng-click="closeModal(2)"></button>
    </ion-header-bar>
    <ion-content class="padding">
    <h2 align="center" class="tebal positive">Tingkatan</h2>
    <p align="center">Silahkan isi data history sekolah Anda di bawah ini.</p>
    <form>
        <label class="item item-input">
          <span class="input-label">Tingkatan</span>
          <select ng-model="user.tingkatan">
            <option value="">SMP 1</option>
            <option value="">SMP 2</option>
            <option value="">SMP 3</option>
            <option value="">SMA 1</option>
            <option value="">SMA 2</option>
            <option value="">SMA 3</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Sekolah Sebelumnya</span>
          <input type="text" name="sklsblm" ng-model="user.sekolah" placeholder="Sekolah Sebelumnya">
        </label>
        <button class="button button-block button-assertive">Kirim</button>
      </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="templates/modal_dokumen.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title" ><img src="img/logotemanis.png" height="18px" align="center"></h1>
      <button class="button button-icon ion-close button-primary" ng-click="closeModal(3)"></button>
    </ion-header-bar>
    <ion-content class="padding">
    <h2 align="center" class="tebal positive">Dokumen</h2>
    <p align="center">Silahkan upload dokumen Anda di bawah ini.</p>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Akte Lahir</span>
          <button class="button button-right button-small button-outline button-assertive">Browse</button>
        </label>
        <label class="item item-input">
          <span class="input-label">Ijazah</span>
          
          <button class="button button-small button-outline button-assertive">Browse</button>
        </label>
        <label class="item item-input">
          <span class="input-label">Dokumen Pendukung 1</span>
          <button class="button button-small button-outline button-assertive">Browse</button>
        </label>
        <label class="item item-input">
          <span class="input-label">Dokumen Pendukung 2</span>
          <button class="button button-small button-outline button-assertive">Browse</button>
        </label>
        <button class="button button-block button-assertive">Kirim</button>
      </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>