<ion-view class="bar-positive">	
	<ion-content>
	<form ng-submit="register(data)" novalidate="">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" name="email" ng-model="data.email" placeholder="Email">
			</label>
			<label class="item item-input">
				<input type="password" name="password" ng-model="data.password" placeholder="Password">
			</label>
			<label class="item item-input">
				<input type="password" name="confpassword" ng-model="data.confpassword" placeholder="Konfirmasi Password">
			</label>
			<button type="submit" class="button button-block button-assertive" >Daftar</button>
		</div>
	</form>
	</ion-content>
</ion-view>