<ion-view hide-nav-bar="true">
	<ion-content>
	<div class="list list-inset">
      <br></br>
      <br></br>
      <center><img src="img\a.png" align="middle" width="180px;"></center>
      <p align="center">Aplikasi resmi dari temanisbaru.com</p>
      <br></br>
      <p align="center">Sudah punya akun?</p>
      <button ui-sref="login" class="button button-block button-positive">Masuk</button>
      
      <p align="center">Belum punya akun?</p>
      <button ui-sref="register" class="button button-block button-assertive">Daftar disini</button>
    </div>
	</ion-content>
</ion-view>