<ion-view hide-nav-bar="true">
	<ion-content>
	<div class="list list-inset">
      <br></br>
      <br></br>
      <center><img src="img\a.png" align="middle" width="180px;"></center>
      <p align="center">Aplikasi resmi dari temanisbaru.com</p>
      <br></br>
      <p align="center">Sudah punya akun?</p>
      <a href="/#/login_menu" class="button button-block button-positive">Masuk</a>
      
      <p align="center">Belum punya akun?</p>
      <a href="/#/register_menu" class="button button-block button-assertive">Daftar disini</a>
    </div>
	</ion-content>
</ion-view>